{% extends "base.html" %}

{% block headinc %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.nickname {
    position: absolute;
    text-align: center;
}
</style>
{% endblock %}

{% block title %}Cursors{% endblock %}

{% block content %}
<label>
    Nickname
    <input id="nickname-input"  />
</label>
<button id="connect-button" disabled type="button" onclick="connect()">Connect</button>
<button id="disconnect-button" disabled type="button" onclick="disconnect()">Disconnect</button>
{% endblock %}

{% block htmlinc %}
<script>
    let socket;
    let cursors = new Map();

    function randomColor() {
        return "#" + Math.floor(Math.random()*16777215).toString(16);
    }

    class Cursor {
        constructor(id, nickname, position) {
           this.id = id;
           this.nickname = nickname;
           this.position = position;
           this.cursorEl = $("<div></div>").
                addClass("cursor").
                css("background-color", randomColor()).
                appendTo(document.body);
           this.nicknameEl = $("<div></div>").
                addClass("nickname").
                appendTo(document.body);
        }

        updatePosition(position) {
            this.position = position;
            this.cursorEl.css({top: this.position.y, left: this.position.x});
            this.nicknameEl.css({top: this.position.y - 20, left: this.position.x});
        }

        updateNickname(nickname) {
            this.nickname = nickname;
            this.nicknameEl.html(this.nickname);
        }
    }

    function requireConn(fn) {
        return function(...args) {
            if(socket) {
                return fn(...args);
            }
        };
    }

    document.onmousemove = requireConn(function(evt) {
        const cursor = {x: evt.clientX, y: evt.clientY};
        socket.send(JSON.stringify(cursor));
    });

    $("#nickname-input").on("input", function(evt) {
        $("#connect-button").prop("disabled", !$(this).val());
    });

    function onopen(evt) {
        console.log("connected");
        $("#connect-button").prop("disabled", true);
        $("#disconnect-button").prop("disabled", false);
        $("#nickname-input").prop("disabled", true);
    }

    function onclose(evt) {
        console.log("closed connection");
        $("#connect-button").prop("disabled", false);
        $("#disconnect-button").prop("disabled", true);
        $("#nickname-input").prop("disabled", false);
    }

    function onmessage(evt) {
        const data = JSON.parse(evt.data);
        let cursor = cursors.get(data.id);
        if(!cursor) {
            console.log(data);
            cursor = new Cursor(data.id, data.nickname, data.position);
            cursor.updateNickname(data.nickname);
            cursors.set(data.id, cursor);
        }

        switch(data.type) {
            case "cursor.update":
                cursor.updatePosition(data.position);
                break;
            default:
                console.log("can't handle action type:", data.type);
        }
    }

    function connect(name) {
        // TODO: pass URL through context
        const nickname = $("#nickname-input").val();
        socket = new WebSocket(`ws://localhost:8000/cursor/ws/?nickname=${nickname}`)
        socket.onopen = onopen;
        socket.onclose = onclose;
        socket.onmessage = onmessage;
    }

    function disconnect() {
        socket.close();
    }

</script>
{% endblock %}
